
.sidebar-subitem {
  padding: 8px;
  font-size: 14px;
  color: black;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebar-subitem:hover {
  background-color: #e0e0e0;
}


.sidebar-icon {
    width: 24px;
    color: black;
    height: 24px;
    object-fit: contain;
}
.title{
  color: rgb(0, 0, 0);
  font-size: 14px;
}
.title-widget{
  display: flex;
  gap: 12px;
  justify-content: center;
}
.logout-button{
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
}
