@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}



.headerSection {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding-top: 10px;
  

}

.center ul li {
  list-style: none;
  display: inline-flex;
  margin: 0px 10px;

}

.title {
  font-size: 1rem;

}

.left {
  flex: 2;
}

.center {
  flex: 4;

}

.search {
  flex: 2;


}
.search input{
  padding: 10px;
  width: 20rem;
  border-radius: 8px;
  margin-left: -150px;
}

.right {
  display: flex;
  flex: 4;
  justify-content: space-between;
  padding: 0px 10px;

}

.bannerSection {
  margin: 10px 0px;
}

.bannerBox img {
  width: 100%;

}

.collectionSection {
  
  width: 100%;
}

.menImages {
  padding: 10px ;
  display: flex;
  justify-content: space-between;
}

.menImages img {
  width: 220px;
  height: 220px;
}